*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    text-align: center;
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #888;
}

#buttons{
    margin-top: 100px;
    min-width: 960px;
    display: inline-block;
    background-color: rgba(255,255,255,0.4);
    border-radius: 15px;
}

#buttons div:nth-child(1){
    margin:20px 20px 5px;
}

#buttons div:nth-child(2){
    margin-left: -40px;
}

#buttons div:nth-child(3){
    margin:5px 0 20px -100px;
}

#buttons div kbd{
    margin: 5px;
    width: 80px;
    height: 64px;
    color: #fff;
    text-transform: uppercase;
    font-family:Adobe Gothic Std B;
    font-size: 24px;
    display: inline-block;
    background: #292929;
    border: 1px solid #373737;
    border-radius: 15px;
    box-shadow:0 0 0 1px #1a1b1c,0 0 0 2px #1f2020,0 2px 0 1px #080808;
    position: relative;
}

#buttons div kbd button{
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: yellow;
    border:none;
    border-radius: 3px;
}

#buttons div kbd:hover button{
    display: inline-block;
    height: 21px;
    width: 21px;
}

#buttons div kbd img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5px;
    bottom: 5px;
}
